body {
    background-color: #b3b2b2;
}

.a {
    background-color: white;
    height: 500px;
    width: 50vw;
    border: black 10px dotted;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.b {
    background-color: yellow;
    height: 50px;
    width: 30%;
}

.c {
    background-color: rgb(155, 100, 0);
    height: 100px;
    width: 30%;
}

.d {
    background-color: rgb(15, 136, 15);
    color: white;
    font-size: 30px;
    padding: 50px;
    margin: 50px;
}